*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.first {
	position: left;
	width: 60%;
}
.img {
	position: absolute;
	top:0; bottom: 0; left: 0; right: 0;
	margin: auto;
}
.menu {
	font-size: 10em
	font-family: "Century Gothic"; Verdana; "Sans-serif";
	text-align: center;
	text-transform: uppercase;

	}
h1 span	{
	text-align: left;
	color: white;
	font:bold 24px/45px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	background:rgb(0,0,0);
	background: rgba(0,0,0,0.7);
	padding: 10px;
}	
h1 {
	font-family: "Century Gothic"; Verdana; "Sans-Serif";
	font-weight: thin;
	color: #333333;
	text-transform: uppercase;
}
h1 span.spacer {
	padding: 0 0px;
}
p {
	font-family: "Book Antiqua"; Palatino; serif;
	color: #333333;
	font-size: 1em;
}
.name {
	color: blue;
}
h4 {
	text-align: left;
}
ul {
	text-align: left;
	color: gray
}
.side {
	width: 10%;
}
.plinks {
	font-style: italic;
}